/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.text-center {
	text-align: center;
}

.site-content {
	position: relative;
}

.cover-background {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: initial;
}

.babylon-wrapper {
	margin-bottom: 30px;
}

.nexus-container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

@media (min-width: 992px){
	.nexus-container {
			max-width: 1240px;
	}

	.cover-background {
		background-attachment: fixed;
	}
}


/**
 * NEXUS BOOTSTRAP
 * If we build a whole theme we will probably just use bootstrap. For now we will just have a custom bootstrap like classes to avoid importing the whole library
 */
.row {
	display: flex;
	flex-wrap: wrap;
}

.col {
	padding: 0 15px;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: 0.25rem;
}

.card .card-body {
	padding: 15px;
}

.card .card-text {
	margin: 0;
}

.mb-4 {
	margin-bottom: 1.5em;
}

@media (min-width: 576px){
	.col-sm-6 {
		width: 50%;
	}
}

@media (min-width: 992px){
	.col-lg-4 {
		width: 33.33%;
	}
}


/**
 * NEXUS HEADER
 */

#nexus-header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

#nexus-header .nexus-container {
	padding: 0 20px;
	display: flex;
	align-items: center;
}

#nexus-header .custom-logo {
	padding: 1em 0;
}

#nexus-header #menu-main {
	display: flex;
	background-color: black;
	list-style: none;
	margin: 0;
	margin-left: auto;
	justify-content: flex-end;
}

#nexus-header .ast-builder-layout-element {
	display: none;
}

.main-header-bar-navigation {
	display: none;
}

#nexus-header #menu-main li a {
	font-family: 'Montserrat',sans-serif;
	font-weight: bold;
	line-height: 70px;
	color: white;
	display: block;
	padding: 0 1em;
}

@media (max-width: 921px){
	#nexus-header #menu-main {
		display: none;
	}

	#nexus-header .ast-builder-layout-element {
		margin-left: auto;
		display: block;
	}

	.ast-main-header-nav-open.ast-header-break-point .ast-mobile-header-wrap .ast-mobile-header-content {
    display: block;
	}

}

/**
 * NEXUS FEATURED
 */
#nexus-featured {
	padding: 144px 0 120px 0;
}

#nexus-featured h1 {
	color: #FFFFFF;
	font-family: "Montserrat", Sans-serif;
	font-weight: 500;
}

#nexus-featured .nexus-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

@media (max-width: 767px){
	#nexus-featured {
			padding: 128px 0 80px 0;
	}
}

@media (max-width: 1024px){
	#nexus-featured {
			padding: 120px 0 80px 0;
	}
}

/**
 * Subscribe Form
 */
.na-form {
	
}

.na-form .na-input-wrapper {
	width: 100%;
	display: flex;
}

.na-form .na-input-wrapper input {
	width: 100%;
	flex: 1;
}

.na-form .na-input-wrapper button {
	margin-left: -2px;
}

#na-subscribe-form .na-alert {
	border-left: 4px solid black;
	background-color: white;
	padding: 10px;
	margin-bottom: 10px;
	width: 100%;
}

#na-subscribe-form .na-alert.na-error {
	border-color: #9C2E35;
}

#na-subscribe-form .na-alert.na-success {
	border-color: #228B22;
}


/**
 * PROJECTS
 */

/* ARCHIVE */
#project-archive {
	 display: flex;
}

#project-archive__menu {
	width: 256px;
	padding: 15px;
	margin: 30px 0;
}

#project-archive__menu ul {
	margin: 0;
	list-style: none;
}

#project-archive__menu ul li label {
	cursor: pointer;
	padding: 0 15px;
	margin-bottom: 5px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#project-archive__menu ul li label input {
	cursor: pointer;
	margin-left: auto;
	transform: scale(1.5);
}


@media (max-width: 767px){
	#project-archive {
		flex-direction: column;
 }

	#project-archive__menu {
		width: 100%;
	}
}



#project-archive__listing {
	flex: 1;
	padding: 50px 0;
}

#project-archive__listing .card {
	border-radius: 50px;
	height: 100%;
}

#project-archive__listing  .card-body {
	line-height: 1.5;
}


body.single-project .ast-primary-header-bar {
	/*background-color: #000;*/
}

body.single-project .ast-button-wrap .mobile-menu-toggle-icon .ast-mobile-svg {
	fill: white;
}

@media (max-width: 921px){
	
}



#na-viewer-list #viewer-wrapper {
	margin: 50px 0;
}

#na-viewer-list .download-list {
	margin-bottom: 50px;
}

#na-viewer-list .download {
	border: 1px solid #333;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 15px;
	padding: 10px;
}

#na-viewer-list .download-list h4 {
	flex: 1;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#na-viewer-list .download-list .download-info {
	display: flex;
	justify-content: space-between;
}

#na-viewer-list .download-list .download-info a,
#na-viewer-list .download-list .download-info span {
	padding: 0 10px;
}

@media screen and (max-width: 768px) {
	#na-viewer-list.download-list {
		flex-direction: column;
	}

	#na-viewer-list .download-list .download-info a,
	#na-viewer-list .download-list .download-info span {
		padding-left: 0px;
	}
}


/**
 * Discord Widget
 */
#na-discord-widget {
	border-radius: 5px;
	overflow: hidden;
	font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #fff;
	margin-bottom: 20px;
}

#na-discord-widget .discord-widget__header {
	background-color: #7289da;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

#na-discord-widget .discord-widget__header a {
	color: #fff;
	text-decoration: none;
	display: block;
}

#na-discord-widget .discord-widget__header .dicord-widget__discord {
	background: url(/wp-content/plugins/nexus-aurora-bot/public/images/discord/discord.svg) 50% no-repeat;
	width: 124px;
	height: 34px;
	background-size: 124px 34px;
}

#na-discord-widget .discord-widget__header div {
	flex: 1;
	text-align: right;
}

#na-discord-widget .discord-widget__body {
	background-color: #202225;
	background-image: url(/wp-content/plugins/nexus-aurora-bot/public/images/discord/left-controllers.png), url(/wp-content/plugins/nexus-aurora-bot/public/images/discord/right-controllers.png);
	background-size: 200px 180px, 110px 130px;
	background-position: 0 100%,100% 100%;
	background-repeat: no-repeat,no-repeat;
	flex: 1;
	box-shadow: 0 1px 0 rgb(0 0 0 / 20%);
	padding: 15px;
	overflow-y: hidden;
	text-align: left;
}

#na-discord-widget .discord-widget__channel-messages {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}

#na-discord-widget .discord-widget__channel-messages__message {
	display: flex;
	margin-bottom: 15px;
}

#na-discord-widget .discord-widget__channel-messages__avatar {
	padding-right: 10px;
}

#na-discord-widget .discord-widget__channel-messages__avatar img {
	border-radius: 50%;
	width: 40px;
}

#na-discord-widget .discord-widget__channel-messages__content {
	display: flex;
	flex: 1;
	flex-direction: column;
}

#na-discord-widget .discord-widget__channel-messages__content strong {
	font-size: 14px;
}

#na-discord-widget .discord-widget__channel-messages__content strong span {
	font-size: 12px;
	font-weight: normal;
	opacity: 0.5;
}

#na-discord-widget .discord-widget__channel-messages__content div{
	font-size: 12px;
}

#na-discord-widget .dicord-widget__channel__name{
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 12px;
}


/**
 * Calendar Widget
 */
#na-calendar-widget {
	border: 1px solid #5f6368;
	border-radius: 5px;
	overflow: hidden;
	font-family: Arial,sans-serif; /* Whitney,Helvetica Neue,Helvetica */
	color: #5f6368;
	margin-bottom: 20px;
}

#na-calendar-widget .calendar-widget__header {
	border-bottom: 1px solid #5f6368;
	padding: 10px 20px 10px 15px;
	display: flex;
	align-items: center;
	flex-shrink: 0;
}

#na-calendar-widget .calendar-widget__google-link {
	font-size: 22px;
  line-height: 24px;
}


#na-calendar-widget .calendar-widget__header img {
	width: 50px;
}

#na-calendar-widget .calendar-widget__integrate {
	display: flex;
	align-items: center;
	flex: 1;
	justify-content: flex-end;
}

#na-calendar-widget .calendar-widget__integrate i,
#na-calendar-widget .calendar-widget__integrate svg {
	margin-right: 6px;
	font-size: 18px;
	/* width: 20px; */
}

#na-calendar-widget .calendar-widget__integrate a {
	color: #5f6368;
	text-decoration: none;
	display: flex;
	padding-left: 15px;
	align-items: center;
}

#na-calendar-widget .calendar-widget__body {
	padding: 10px;
}

#na-calendar-widget .calendar-widget__events {
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
}

#na-calendar-widget .calendar-widget__event {
	color: #5f6368;
	padding: 10px;
	border-bottom: 1px solid #5f6368;
	display: block;
}

#na-calendar-widget .calendar-widget__event:hover {
	color: #ff6d4a
}

#na-calendar-widget .calendar-widget__event div {
	display: flex;
	align-items: center;
}

#na-calendar-widget .calendar-widget__event i,
#na-calendar-widget .calendar-widget__event svg {
	width: 14px;
	margin-right: 6px;
}

#na-calendar-widget .calendar-widget__event:last-child {
	border-bottom: 0;
}

#na-calendar-widget .calendar-widget__event .event-title {

}

#na-calendar-widget .calendar-widget__event  .event-date {
	font-size: 14px;
}

#na-calendar-widget .calendar-widget__event  .event-description {

}

#na-calendar-widget .calendar-widget__event  .event-location {
	font-size: 14px;
}

@media screen and (max-width: 768px) {
	#na-calendar-widget .calendar-widget__header {
		flex-direction: column;
	}

	#na-calendar-widget .calendar-widget__integrate {
		align-items: baseline;
	}

	#na-calendar-widget .calendar-widget__integrate a {
		padding: 10px;
		display: flex;
		flex-direction: column;
	}
}